@import "src/assets/styles/mixin";

.root {
  margin-top: 4 * $gutter;
  @include flex($direction: column);
}

.button {
  width: 10em;
  margin-top: $gutter;
}

.content {
  font-size: $h2;
  margin-top: 2 * $gutter;
}
