@import "src/assets/styles/mixin";

.root {
  margin-top: 4 * $gutter;
  @include flex($direction: column);
}
.contentWrap {
  @include flex();
  margin-top: 4 * $gutter;
}
.fatherWrap {
  @include flex($direction: column);
}
.childWrap {
  margin-left: 4 * $gutter;
  @include flex($direction: column);
}
.content {
  margin-top: 2 * $gutter;
  margin-bottom: 2 * $gutter;
  opacity: .5;
}
.subTitle {
  opacity: .7;
}
