$white: #ffffff;
$black: #000000;

$gutter: 9px;

$h1: 36px;
$h2: 24px;
$h3: 16px;

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.title {
  font-size: $h1;
  color: $black;
}

.subTitle {
  font-size: $h2;
  color: $black;
}

.lessonTitle {
  @extend .title;
  text-align: center;
  margin-top: 4 * $gutter;
}

.content{
  font-size: $h3;
  color: $black;
}
